
<header id="header-div" >
    
    <div id="title-div">
        <h1>
           <a href="/"> AUTHENTICITY </a> 
        </h1>
    </div>
 
    <div id="list-div">
     <ul>
        <% if (locals.user){ %>
            <li>
                <a class="link-1" href="/users/profile">
                    <%= user.name %>
                </a>
            </li>
            <li>
                <a class="link-1" href="/users/sign-out">Sign Out</a>
            </li>
        <% }else{ %>

            <li>
                <a class="link-1" href="/users/sign-in">Sign In</a>
            </li>

            <li>
                <a class="link-1" href="/users/sign-up">Sign Up</a>
            </li>

        <% } %>
    </ul>
    </div>
</header>