
<link rel="stylesheet" href="/css/update_password.css">
<div id="update-div">
  <h1 id="head-1">Update Password</h1>
  <hr>
  <form action="/users/update-password/<%= user.id %>" method = "POST">

    <label class="labels" for="password-1">Old Password</label>
    <input type="password" id="password-1" name="old_password" placeholder="Old Password.." required>
    <hr>
    <label class="labels" for="password-2">New Password</label>
    <input type="password" id="password-2" name="new_password" placeholder="New Password.." required>
     <hr>
    <label class="labels" for="password-3">Confirm Password</label>
    <input type="password" id="password-3" name="confirm_password" placeholder="Confirm Password.." required>
    <hr>
     <div id="link-div">
      <button> Update Password </button>
    </div>
  </form>
</div>

<!-- <form action="/users/update-password/<%= user.id %>" method="POST">

    <input type="password" name="old_password" placeholder="Old Password" required>
    <input type="password" name="new_password" placeholder="New Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>

    <input type="submit" value="Update Password">

</form> -->
