
<link rel="stylesheet" href="/css/user_sign_in.css">
<div id="sign-in-div">
  <h1 id="head-1">Sign In</h1>
  <hr>
  <form action="/users/create-session" method="POST">
    <label class="labels" for="email-2">Email</label>
    <input type="email" id="email-2" name="email" placeholder="Your Email..." required>
     <hr>
    <label class="labels" for="password-2">Password</label>
    <input type="password" id="password-2" name="password" placeholder="Your Password.." required>
    <hr>

    <div id="link-div">
        <a href=""> Forgot Password? </a>
        <button id="sign-in-button" > Sign In </button>
    </div>
    
    <div id="div-create-account">
       <span>
          Instead <a href="/users/sign-up"> Create an account </a>
       </span>
    </div>

    <div id="google-div">
      <a href="/users/auth/google"> <i class="fab fa-google"></i> Sign In/Sign Up</a>
    </div>

  </form>
</div>

<script src="https://kit.fontawesome.com/41c8fb69c7.js" crossorigin="anonymous"></script>